<header class="site-header"> 

	<div class="site-company">
		<div class="site-avatar">
			<img src="http://s.gravatar.com/avatar/451e92939d53a7ea17dcecfc23099840?s=50" />
		</div>
		<div class="divider-vertical"></div>
		<div class="site-title">
			<a class="logo" href="{{ site.url }}">{{ site.title }}</a>
		</div>

	<!--
		<div class="site-header-desc">erickguevara.me</div>
	-->
	</div>
	
	<div class="site-actions">
		<a class="button" href="http://www.erickguevara.me">Home</a>
		<a class="button" href="http://www.erickguevara.me/photos/">Photos</a>
		<a class="button" href="http://www.erickguevara.me/books">Books</a>
		<a class="button" href="http://www.erickguevara.me">Resume</a>
		<a class="button" href="http://www.erickguevara.me">Contact</a>
		<a class="button" href="http://www.erickguevara.me">Login</a>
	</div>
	

</header>