<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Erick Guevara </title>
	<link href="{{ site.media_server }}/css/bootstrap.min.css?{{ site.media_version }}" rel="stylesheet">    
	<link href="{{ site.media_server }}/css/bootstrap-responsive.css?7" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost:4000/css/main.css">

</head>
<body>

	<div class="content-wrapper-outer">
		<!-- header -->
		{% include header.html %}

		<div class="content-wrapper-inner">
			{{ content }}
		</div> <!--content-wrapper-inner-->

		<!-- footer -->
		{% include footer.html %}

	</div> <!-- content-wrapper-outer-->

</body>
</html>
