<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Erick Guevara </title>
	<link href="{{ site.media_server }}/css/bootstrap.min.css?{{ site.media_version }}" rel="stylesheet">    
	<link href="{{ site.media_server }}/css/bootstrap-responsive.css?7" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ site.media_server }}/css/main.css">
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>



</head>
<body>

	<div class="content-wrapper-outer">
		<!-- header -->
		{% include header.html %}

		<div class="content-wrapper-inner">
			{{ content }}
		</div> <!--content-wrapper-inner-->

		<!-- footer -->
		{% include footer.html %}

	</div> <!-- content-wrapper-outer-->

	<script src="{{ site.media_server }}/js/main.js"></script>

</body>
</html>
